<div class="card filter">
  <div class="card-content">
    <span class="card-title">Filter</span>
    <div class="option">
      <select class="browser-default">
        <option value="" disabled selected>Artist</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <div class="option">
      <select class="browser-default">
        <option value="" disabled selected>Genre</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <div class="option">
      <select class="browser-default">
        <option value="" disabled selected>Year</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
  </div>
</div>
