<table class="highlight playlist">
  <thead>
  <tr>

    <th *ngFor="let param of params">
      {{param.title}}
      <a href="#" (click)="filterBy(param.title, param.sort)">
        <i class="material-icons">arrow_drop_{{param.sort}}</i>
      </a>
    </th>

  </tr>
  </thead>

  <tbody>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  <tr>
    <td>The Bugs</td>
    <td>Cambodia dreaming</td>
    <td>Rock</td>
    <td>1980</td>
  </tr>
  </tbody>
</table>
