.container {

  background: #fff;

  .table {

    .arrow {
      margin-left: 5px;
      text-decoration: none;

      &.hide {
       display: none;
      }
    }

  }


  .filter {

    .c-card__item {
      border: none;
    }

    select.c-field {
      background-color: #fff;
    }

  }

  .perPage {

    .c-input-group {
      margin: 10px 0;
    }

  }

}