.container {

  background: #fff;

  .table {

    .arrow {
      margin-left: 5px;
      text-decoration: none;

      &.ASC:after {
        content: '\21A7';
        display: inline;
      }

      &.DESC:after {
        content: "\21A5";
        display: inline;
      }

    }

  }


  .filter {

    .c-card__item {
      border: none;
    }

    select.c-field {
      background-color: #fff;
    }

  }

  .perPage {

    .c-input-group {
      margin: 10px 0;
    }

  }

}